<!DOCTYPE html>
html(lang="en")
  head
    
    block headTitle
      title Jespers Hustad
    
    block metaResponsive
      meta(charset='utf-8')
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
    
    block metaIcons
      link(rel='shortcut icon', href='/favicon.ico')
      link(rel='icon', type='image/png', href='/images/icons/favicon-196.png', sizes='196x196')
      link(rel='icon', type='image/png', href='/images/icons/favicon-96.png', sizes='96x96')
      link(rel='icon', type='image/png', href='/images/icons/favicon-32.png', sizes='32x32')
      link(rel='icon', type='image/png', href='/images/icons/favicon-16.png', sizes='16x16')
      link(rel='icon', type='image/png', href='/images/icons/favicon-128.png', sizes='128x128')
    

    //
    // fonts
    //
    block fontFiles
      // Roboto Google Font
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:100,300,700')

    //
    // css
    //
    block externalCSS
      // NormalizeCSS
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
      // bootstrap 4
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
      // local load scripts (replace ^^ with these if you dont have a network connection)
      //
        link(rel='stylesheet', href='/fonts/fonts.css')
        link(rel='stylesheet', href='/css/vendor/normalize.min.css')
        link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
    block localCSS
      // local css
      // preloaded CSS to reduce FOUC
      link(rel='prefetch alternate stylesheet', href='/css/prefetch.css')
      // main page CSS
      link(rel='stylesheet', href='/css/main.css')
  body
    block body
      h1 Here is a heading
      p Look a cool paragraph

    block externalScripts
      script(src='/js/vendor/console-shim.js') // prevent console errors in old browsers
      // Modernizr
      script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js")
      // jQuery 2.2.4 (use whatever version you want)
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
      // Local Load Scripts
      //
        script(src='/js/vendor/modernizr-2.6.2.min.js')
        script(src='/js/vendor/jquery-2.2.4.min.js')
    block localScripts
      script(src='/js/main.js')
