extends base.pug

block body
    //- img(src='/images/mycoolsite.png', style="width: -webkit-fill-available;")

    //- .wordart.blues
    //-     span.text Welcome to my site!


    h2 Jesper Hustad's Website!
    p I'm Jesper Hustad. I am currently studying for a bachelor's degree majoring in Computer Science at the university NTNU. #[+emoji("msn_nerd.gif")]

    p This page is dedicated to the Old Internet style, to appriciate how far we've come you gotta understand how it all started. With the Times New Roman, colored background gradients, and the old AIM / MSN emoji i hope to capture that classic look. #[+emoji("yahoo_love.gif")]

    p Currently i am focused on learning about websites and servers. Learning to work in the terminal, databases, user accounts, security, frontend, etc a lot of things to learn.
    p You can see some project i have been working on by visiting my. #[a(href="https://github.com/Jesper-Hustad") GitHub page]
    


    h3 Topics
    br
    h4 Posts
    ul
        li #[a(href="/page/how-i-made-this-site") How i made this site]

    h4 Projects
    ul
        li #[a(href="/") Wave lines generator]
        li #[a(href="/") Cath the ferry]
        li Referee managment site (Coming soon)

    
    

    

    h3 Contact
    P If you want to contact me for some reason my email is: jesterbe3@gmail.com 

    