extends base.pug

block body
    h2 This is a page, but it's empty :(

block footer
    br
    br
    hr
    //- p © Copyright 2021
    p Go to #[a(href="/") Home Page] #[img(src="/images/emoji/msn_plane.png", alt="")]