body{
  
  /* background: rgb(116,221,236);
  background: linear-gradient(90deg, rgba(116,221,236,1) 0%, rgba(47,153,186,1) 100%); */

  background: rgb(128,239,255);
  background: linear-gradient(90deg, rgba(128,239,255,1) 0%, rgba(49,179,221,1) 100%);
/* 
  background-image: url("/images/background.jpg");
  background-repeat: repeat; */

  width: 80%;
  max-width: 70rem;
  margin: auto;
  /* border: 1px solid red */
}


h2, h3, h4{
  margin-bottom: -0.25rem;
}

p {
  font-size: large;
}

li{
  font-size: large;
}