extends ../pages.pug


block body
    h3 About this site
    p This site is being run on a server i made (see image), it's an old laptop i screwed to a wooden box. I mounted a desktop CPU cooler inside of it with some superglue because it's used to be very loud. The temperatures are currently hovering around 35C (i assume this is due to me not using any thermal paste), and it doesn't make that much noise so i would call it a sucsess #[img(src="/images/emoji/yahoo_party.gif", alt="")]


    +image("internals.jpg")

    p It's suprisingly easy to make your own website, all you need is a domain and server. Of course today you can find endless places that will host your page for free, but it's not the same as hosting everything from the ground up you know?

    h4 Server asperations
    p I don't really know what else i want to do with my server... but i am sure i will come up with something #[+emoji("yahoo_think.gif")]. My own URL shortener sounds like a fun and easy project. Of course i need to try hosting a game server like minecraft or something just to see how well it handles it!
    p

    h4 Update!
    p I seem to have gotten HTTPS to work! If you check on your browser there should be a lock saying "Connection is secure". I had to change out my node setup with a nginx proxy, but i have heard that it's better anyways. Tough it probally doesn't fit the asthethic that this site is "secure" it's still cool to have.

    h4 DevOps #[+emoji("yahoo_sunglasses.gif")]
    p Huzza, i no longer need to go into the server and pull changes!
    p Testing again if deploy works
